<h1 class="text-center my-3">Lista de Tarefas</h1>
<table class="table">
  <thead>
    <tr>
      <th>Código da Tarefa</th>
      <th>Título</th>
      <th>Descrição</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each tarefa}}
    <tr>
      <td>{{this.id_tarefa}}</td>
      <td>{{this.titulo}}</td>
      <td>{{this.descricao}}</td>
      <td>
        <a href="/tarefas/Atualizar/{{this.id_tarefa}}/{{this.titulo}}/{{this.descricao}}">
          Editar
          <i class="bi bi-pencil-square"></i>
        </a>
      </td>
      <td>
        <form class="border-0 m-0" action="/tarefas/Delete" method="POST">
          <input type="hidden" name="id_tarefa" value="{{this.id_tarefa}}" />
          <input type="submit" value="Excluir" name="Excluir" />
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
